Repository mitodl/mitx-online: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, scss-lint

eslint:
  name: eslint
  description: Lint JS/TS files and apply automatic fixes
  entry: bash -c "npx eslint --fix $@"
  language: node
  args: []
  require_serial: false

scss-lint:
  name: scss-lint
  description: Lint SCSS files
  entry: bash -c "npx stylelint --allow-empty-input --fix $@"
  language: node
  args: []
  require_serial: false

working hold
  app.json
  authentication/backends/ol_open_id_connect.py
  authentication/pipeline/user.py
  main/settings.py
  poetry.lock
  pyproject.toml
Due: none

Add back commented out CORS
  main/settings.py
Due: none

These are the de-flagged CSS changes - saved for use later.
  frontend/public/scss/footer.scss
  frontend/public/scss/home-page/home-page-contact-row.scss
  frontend/public/scss/home-page/home-page-hero.scss
  frontend/public/scss/layout.scss
  frontend/public/scss/meta-product-page.scss
  frontend/public/scss/product-details.scss
  frontend/public/scss/product-faculty-members.scss
  frontend/public/scss/product-page/product-details.scss
  frontend/public/scss/product-page/product-faculty-members.scss
  frontend/public/scss/product-page/program-courses.scss
  frontend/public/scss/product-page/user-menu.scss
  frontend/public/scss/top-app-bar.scss
Due: scss-lint

Add in check for API KEY
  main/features.py
Due: none

handling for posthog error
  main/features.py
Due: none

removes the feature flags from the home page python + checks in the html
  cms/models.py
  cms/templates/home_page.html
Due: none

testing that instruction is correct
  docs/source/configuration/posthog.rst
Due: none

Remove all instances of the flags
  cms/models_test.py
  cms/templates/product_page.html
  courses/serializers/v1/courses_test.py
  frontend/public/src/components/CourseProductDetailEnroll_test.js
  frontend/public/src/components/ProgramProductDetailEnroll_test.js
  frontend/public/src/containers/pages/CatalogPage_test.js
  main/features.py
  main/views.py
Due: eslint

moving css around
  cms/templates/home_page.html
  cms/templates/product_page.html
  frontend/public/scss/home-page/home-page-contact-row.scss
  frontend/public/scss/home-page/home-page-hero.scss
  frontend/public/scss/layout.scss
  frontend/public/scss/meta-product-page.scss
  frontend/public/scss/product-details.scss
  frontend/public/scss/product-page/product-details.scss
  frontend/public/scss/product-page/product-faculty-members.scss
  frontend/public/scss/product-page/program-courses.scss
  frontend/public/scss/product-page/user-menu.scss
  frontend/public/scss/top-app-bar.scss
  frontend/public/src/components/TopBar.js
Due: eslint, scss-lint

fix file
  frontend/public/scss/product-details.scss
Due: scss-lint

if none, page break
  docs/source/configuration/tutor.rst
  scripts/run-django-dev.sh
Due: none

testing precommit autoupdate
  cms/api.py
  frontend/public/src/components/OrderSummaryCard.js
  frontend/public/src/containers/App.js
Due: eslint

Add management command to reverse retired user
  users/management/commands/unretire_user.py
Due: none

remove deprecated options
  frontend/public/.flowconfig
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (node_modules/|.yarn/)
  scss-lint: any of: \.scss$, but not: node_modules/
